<footer id="footer">
    <!-- {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }} -->
    <p class="small">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
        © Copyright {{.Now.Format "2006"}} {{ .Site.Params.name }}
    {{ end }}
    </p>
</footer>
