<ul id="post-list" class="archive readmore">
    <h3>{{ with .Site.Params.readMore }}{{ . }}{{ else }}Read more{{ end }}</h3>
    {{ range first 10 (where .Site.Pages "Params.hidden" "ne" "true") }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if and (ne $url "about/") }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}<aside class="dates">{{ .Date.Format "Jan 2 | 2006" }}</aside></a>
        </li>
        {{ end }}
   {{ end }}
</ul>
