<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href='https://keybase.io/{{ .Site.Params.keybase }}'>
                <img id="avatar" src="{{ .Site.BaseURL }}img/avatar.jpg"/>
            </a>
            <h1>{{ .Site.Params.name }}</h1>
            <h2>{{ .Site.Params.bio | markdownify }}</h2>
            {{ partial "social.html" . }}
        </header>
    </section>
</div>
